version: "3.7"
services:
  get_iplayer:
    image: bmrussell/get_iplayer:latest
    container_name: iplayer
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - "${OUTPUT}:/output"
    ports:
      - "1935:1935"

    restart: unless-stopped
